body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#display {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.buttons {
    display: grid;
    width: 50%;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.buttons button:nth-child(16) {
    grid-column: 4;
    grid-row: 4 / 6;
}

.buttons button:nth-child(17) {
    grid-column: 1 / 3;
    grid-row: 5;
}

.buttons > button,
#display {
    font-size: xx-large;
    font-weight: bolder;
    margin: 4px;
    border-style: solid;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: lightgray;
    border-style: solid;
    border-color: lightgray;
}